@using WebApplication5.Models
@model IEnumerable<IGrouping<string, PrimaTask>>
@{
int countRows=0;
    ViewData["Title"] = "Мои текущие задачи";

}
<br>
<h3>Задачи моего отдела</h3>
<br>
<link rel="stylesheet" href="~/css/ProjectsIndex.css">

<table id="WorkLogs" class="QualityBook" width="100%">
    <tbody id="WorkLogsTBody">
        <tr class="header">
            <th style="padding: 10px 15px;">Наименование проекта</th>
            <th style="padding: 10px 15px;">Наименование задачи</th>
            <th style="padding: 10px 15px;">Дата начала</th>
            <th style="padding: 10px 15px;">Дата окончания</th>
            <th style="padding: 10px 15px;">Наименование ресурсов</th>
            <th style="padding: 10px 15px;">Процент выполнения</th>
            <th style="padding: 10px 15px;">Возможные действия</th>
        </tr>
        <tr class="header">
            <td style="padding: 10px 15px; text-align: center"><input type="text" id="PrjNameSearch" oninput="FilterRows()"><br><span style="font-size:smaller;">(фильтр)</span></td>
            <td style="padding: 10px 15px; text-align: center"><input type="text" id="TaskNameSearch" oninput="FilterRows()"><br><span style="font-size:smaller;">(фильтр)</span></td>
            <td style="padding: 10px 15px; text-align: center">
                <input type="date" id="StartDateSearch" oninput="FilterRows()"><br>
                <span style="font-size:smaller;">ОТ (фильтр)</span><br>
                <a class="btn btn-close" onclick="SortAscen('startDate')"><i></i>Сортировать по возрастанию</a><br>
                <a class="btn btn-dark" onclick="SortDescen('startDate')"><i></i>Сортировать по убыванию</a>
            </td>

            <td style="padding: 10px 15px; text-align: center">
                <input type="date" id="FinishDateSearch" oninput="FilterRows()"><br>
                <span style="font-size:smaller;">ДО (фильтр)</span><br>
                <a class="btn btn-close" onclick="SortAscen('finishDate')"><i></i>Сортировать по возрастанию</a><br>
                <a class="btn btn-dark" onclick="SortDescen('finishDate')"><i></i>Сортировать по убыванию</a>
            </td>
            <td style="padding: 10px 15px; text-align: center"><input type="text" id="RsrcSearch" oninput="FilterRows()"><br><span style="font-size:smaller;">(фильтр)</span></td>
            <td style="padding: 10px 15px; text-align: center"></td>
            <td style="padding: 10px 15px; text-align: center"></td>
        </tr>
        @foreach (var primaTaskGr in Model)
    {
        string executor = string.Empty;
        foreach (var primaTask in primaTaskGr)
        {
            if (string.IsNullOrEmpty(primaTask.Role_name))
                executor += primaTask.Rsrc_name + ", \n";
            else
            {
                executor+= primaTask.Role_name + ", \n";
            }

        }
    executor=executor.TrimEnd().TrimEnd(',');
    countRows++;

        <tr class="realData">
            <td class="prjName">@primaTaskGr.First().ProjName </td>
            <td class="taskName">@primaTaskGr.First().TaskName</td>
            <td class="startDate">@primaTaskGr.First().StartDate.Split(' ').First()</td>
            <td class="finishDate">@primaTaskGr.First().FinishDate.Split(' ').First()</td>
            <td class="rsrc">@executor</td>
            <td></td>
            <td>
                <!--a class="btn btn-default" asp-controller="WorkLogs" asp-action="SelectProject" asp-route-selectedProject="@primaTaskGr.First().ProjName "
                asp-route-selectedTaskList="@primaTaskGr.First().TaskName" asp-route-DateOfReport="@DateTime.Now.ToString()"><i></i>Отчитаться по задаче</!--a>-->
            </td>
        </tr>
        }
        </tbody>
</table>
<script>
    function FilterRows() {
        
        var rsrcForSearch = document.getElementById('RsrcSearch').value;
        var taskForSearch = document.getElementById('TaskNameSearch').value;
        var prjForSearch = document.getElementById('PrjNameSearch').value;
        var startDateSearch = new Date(document.getElementById('StartDateSearch').value);
        var finishDateSearch = new Date(document.getElementById('FinishDateSearch').value);
        var rsrcSet = document.getElementsByClassName('rsrc')
        var taskSet = document.getElementsByClassName('taskName')
        var prjSet = document.getElementsByClassName('prjName')
        var startDateSet = document.getElementsByClassName('startDate')
        var finishDateSet = document.getElementsByClassName('finishDate')
        for (var i = 0; i < startDateSet.length; i++) {
            startDateSet[i].parentElement.hidden = false
        }
        for (var i = 0; i < rsrcSet.length; i++) {
            if (!rsrcSet[i].textContent.includes(rsrcForSearch)) {
                rsrcSet[i].parentElement.hidden = true
            }
            else {
                rsrcSet[i].parentElement.hidden = false
            }
        }

        for (var i = 0; i < taskSet.length; i++) {
            if (!(taskSet[i].textContent.includes(taskForSearch) && taskSet[i].parentElement.hidden == false)) {
                taskSet[i].parentElement.hidden = true
            }
            else {
                taskSet[i].parentElement.hidden = false
            }
        }

        for (var i = 0; i < prjSet.length; i++) {
            if (!(prjSet[i].textContent.includes(prjForSearch) && prjSet[i].parentElement.hidden == false)) {
                prjSet[i].parentElement.hidden = true
            }
            else {
                prjSet[i].parentElement.hidden = false
            }
        }

        if (startDateSearch.getDate() > 0) {
            for (var i = 0; i < startDateSet.length; i++) {
                var daAr = startDateSet[i].textContent.replace('.', '-').replace('.', '-').split('-')
                var daStr = daAr[2] + '-' + daAr[1] + '-' + daAr[0]
                var da = new Date(daStr)
                if (startDateSearch < da && startDateSet[i].parentElement.hidden == false) {
                   // alert("true --- " + i)
                    startDateSet[i].parentElement.hidden = false
                }
                else {
                  //  alert("false --- " + i)
                    startDateSet[i].parentElement.hidden = true
                }
            }
        }

        if (finishDateSearch.getDate() > 0) {            
            for (var i = 0; i < finishDateSet.length; i++) {
                var dateAr = finishDateSet[i].textContent.replace('.', '-').replace('.', '-').split('-')
                var dateStr = dateAr[2] + '-' + dateAr[1] + '-' + dateAr[0]
                var dateDa = new Date(dateStr)
                if (dateDa < finishDateSearch && finishDateSet[i].parentElement.hidden == false) {
                    finishDateSet[i].parentElement.hidden = false
                }
                else {
                    finishDateSet[i].parentElement.hidden = true
                }
            }
        }
    }

    function SortAscen(nameClass) {
        PElems = []
        dateSetSorted = []
        wl = document.getElementById('WorkLogsTBody')
        var dateSet = document.getElementsByClassName(nameClass)
        for (var i = 0; i < dateSet.length; i++) {
            dateSetSorted.push(dateSet[i])
        }
        dateSetSorted.sort(function (a, b) {
            return getDate(a) - getDate(b)
        })

        for (var i = 0; i < dateSetSorted.length; i++) {
            PElems.push(dateSetSorted[i].parentElement)
        }
        for (var i = 0; i < dateSet.length; i++) {
            dateSet[i].parentElement.remove();
        }
        for (var i = 0; i < PElems.length; i++) {
            wl.appendChild(PElems[i])
        }
    }

    function SortDescen(nameClass) {
        PElems = []
        dateSetSorted = []
        wl = document.getElementById('WorkLogsTBody')
        var dateSet = document.getElementsByClassName(nameClass)
        for (var i = 0; i < dateSet.length; i++) {
            dateSetSorted.push(dateSet[i])
        }
        dateSetSorted.sort(function (a, b) {
            return getDate(b) - getDate(a)
        })

        for (var i = 0; i < dateSetSorted.length; i++) {
            PElems.push(dateSetSorted[i].parentElement)
        }
        for (var i = 0; i < dateSet.length; i++) {
            dateSet[i].parentElement.remove();
        }
        for (var i = 0; i < PElems.length; i++) {
            wl.appendChild(PElems[i])
        }
    }

    function getDate(a) {
        var dateAr = a.textContent.replace('.', '-').replace('.', '-').split('-')
        var dateStr = dateAr[2] + '-' + dateAr[1] + '-' + dateAr[0]
        return new Date(dateStr)
    }

</script>
