
@model List<ProjectWithElemAmount>
@{

    ViewData["Title"] = "Проекты";

}
<br>
<h3>Проекты</h3>
<br>
<link rel="stylesheet" href="~/css/ProjectsIndex.css">

<table id="WorkLogs" class="QualityBook" width="100%">
    <tr class="header">
        <th style="padding: 10px 15px;">Акроним проекта</th>
        <th style="padding: 10px 15px;">Внутренний номер проекта</th>
        <th style="padding: 10px 15px;">Наименование проекта</th>
        <th style="padding: 10px 15px;">Кол-во элементов трубопровода</th>
        <th style="padding: 10px 15px;">Возможные действия</th>

    </tr>
    @foreach (var projectWithElemAmount in Model)
    {
        string avevaElemAmount = string.Empty;
        if (projectWithElemAmount.AvevaElemAmount != 0) { avevaElemAmount = projectWithElemAmount.AvevaElemAmount.ToString(); } else { avevaElemAmount = "Нет данных для отображения"; }
<tr>
    <td>@projectWithElemAmount.Prj.AvevaAcronym</td>
    <td>@projectWithElemAmount.Prj.InternalNum</td>
    <td>@projectWithElemAmount.Prj.FullName</td>
    <td>@avevaElemAmount</td>
      
    <td>
        <a class="btn btn-default" asp-controller="Project" asp-action="Graphs" asp-route-prjAcr="@projectWithElemAmount.Prj.AvevaAcronym"><i></i>Детализировать</a><br>
        
    </td>
</tr>
            }
        </table>
